body{
    margin: 0;
    font-family: monospace;
    background: #CCDDE2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 4rem;
    text-align: center;
}

.input-container{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container label{
    font-size: 1rem;
    margin-bottom: 5px;
}

.input-container input{
    font-size: 1rem;
}

.addButton{
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px 5px;
}

.addButton:hover{
    background: grey;
}


.show-task{
    margin-top: 20px;
    background-color: #FBFEF9;
    width: 800px;
    padding: 10px;
}

.show-task ol li{
    font-size: 1.5rem;
}